In [ ]:
import sqlite3

# Step 1: Create database and table
conn = sqlite3.connect("starfleet.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
""")

In [ ]:
# Step 2: Insert data into the table
cursor.executemany("""
INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)
""", [
    ("Benjamin Sisko", "Human", 40),
    ("Jadzia Dax", "Trill", 300),
    ("Kira Nerys", "Bajoran", 29)
])

conn.commit()

In [ ]:
# Step 4: Retrieve Name and Age of Bajorans
cursor.execute("""
SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'
""")
bajorans = cursor.fetchall()

print("Bajorans in the Roster:")
for name, age in bajorans:
    print(f"Name: {name}, Age: {age}")

# Close the connection
conn.close()